.topbar{
  text-align: center;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sisas{
 height: 30px;
 width: 30px;
}
.full-container{
  width:100%;
  padding: 4px;
background: #4b85b2; /* Old browsers */
background: -moz-linear-gradient(left, #4b85b2 0%, #6bad7a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #4b85b2 0%,#6bad7a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #4b85b2 0%,#6bad7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.cont-info-top{
      display: flex;
}
.cont-location{
  color: white;
}
.top-bar-logo{
      width: 20px;
}
.cont-location:nth-child(1) {
margin-right: 15px;
}

.cont-items{
margin: auto;
font-size: 19px;
}
.mapa-img{
max-width: 77%;
}
.pie-pagina{
padding: 29px 0px;
}
.info-pie{
color: white;
margin-top: 25px;
font-size: 17px;
}
.datos-contacto{
color: white;
   padding-left: 64px;
}
.item-pie{
margin-bottom: 2px;
}
.item-pie>img{
width: 16px;
}
.cont-face-pie{
margin-top: auto;
}
.datos-pie{
margin-bottom: 50px;
}
.face-pie{

}
.flecha-menu{
fill: none;
 stroke-width: 2px;
 stroke: black;
}
.menu-item{
display: inline-block;
margin-right: 17px;
cursor: pointer;
}
.menu-line{
display: inline-block;
   margin-right:10px;
}
.menu-line a{
 color: black;
}
.menu-item>img{
width: 21px;
}

.barmenu {
 display: none;
 color: black;
 position: absolute;
 z-index: 19;
 background: #ffffffe8;
 border: 1px solid;
 border-color: #524c4ca3;
 border-width: 1px;
 padding: 8px 30px 8px 9px;
 font-size: 16px;
}
.barmenu li{
list-style-type: none;
margin-bottom: 7px;
}
.barmenu ul{
padding-left: 0px;
}
.line-barmenu{
height: 1px;
background: black;
margin-bottom: 7px;
}
.item-submenu{
 cursor: pointer;
}
.item-submenu:hover{
color: #4b85b2;
}
.cont-menu{
display: none;
}
/* contenido */
.titulo-container {
    background-image: url(../img/mision/mision1.jpg);
    height: 296px;
    background-size: cover;
    background-position: center;
}
.titulo{
      background:#317cb7;
      display: inline-block;
      color: white;
      padding: 6px 27px;
      border-radius: 5px;
      margin-top: 97px;
      font-size: 40px;
}
.margin-title {

}
.title-mision {
  margin: 0% 7%;
}
.cont-mision{
  margin: 7% 7%;
}
.cont-vision{
  margin: 7% 0%;
}
.cont-text-mision{
background: #4c9469;
color: white;
padding: 28px;
font-size: 21px;
text-align: center;
border-radius: 7px;
}
.cont-text-vision{
  background: #317cb7;
    color: white;
    padding: 28px;
    font-size: 21px;
    text-align: center;
    border-radius: 7px;
}

.banner-instalaciones{
  margin-top: 34px;

}
.carousel-inner img{
      border-radius: 7px;
}
.iconos-insta img{
  width:100%;
}
.cont-icon{
  text-align: center;
   padding: 34px;
}
.icon-text{
  margin: 0.5rem 0;
    font-size: 20px;
    font-weight: 500;
}
.cont-mision-img{
  background-image: url(../img/mision/mision2.jpg);
  border-radius: 7px;
  height: 100%;
  background-size: cover;
}


@media (min-width: 575.98px){

.menu-one:hover{
 color: #4b85b2;
}
.menu-one:hover .flecha-menu{
 stroke: #4b85b2;
}
.item-contacto:hover{
 color: #4b85b2;
}

.menu-two:hover{
 color: #4b85b2;
}
.menu-two:hover .flecha-menu{
 stroke: #4b85b2;
}
.item-contacto:hover .flecha-menu{
 stroke: #4b85b2;
}
.menu-one:hover .barmenu{
display: block;
}
.menu-two:hover .barmenu{
 display: block;
}

}

@media (max-width: 991.98px) {

.logo{
max-width: 152%;
}
.cont-items {
 font-size: 14px;
}
}

@media (max-width:767px) {
  .cont-mision-img{
    height: 300px;
    margin-top: 34px;
  }

  .margin-title {
    text-align:center;
}

}

@media (max-width: 575.98px) {

.menu-icon{
width: 24px;
height: 24px;
background: green;
display: inline-block;
}
.menu-one:hover {
 color:white;
}
.barmenu{
width: 72%;
}
.menu-label{
display: inline-block;
 font-size: 22px;
 vertical-align: text-bottom;
}
.cont-items{
padding:0;
}
.face-top,.sisas{
display: none;
}
.contenedor-logo{
text-align: center;
}

.menu-ic{
   width: 35px;
   height: 4px;
   background-color: white;
   margin: 6px 0;
}
.icon-menu{
 margin-right: 9px;
}
.logo {
    max-width: 98%;
}
.w-100 {
    width: 100%!important;
    height: 382px;
    object-fit: cover;
}
.lista-menu{
display:none;
width: inherit;
padding-left: 0px;
position: absolute;
z-index: 2;
background: white;
font-size: 18px;
}
.menu-item {
display: block;
   width: 100%;
   padding: 10px 0;
   background: #5c9a95;
   border-bottom: 2px solid white;
   color: white;
}
.img-pie{
   max-width: 70%;
}
.cont-menu{
 cursor:pointer;
 background: #4c86b1;
 color: white;
 font-weight: bold;
 border-bottom: 3px solid white;
 padding: 10px 7px;
 display: flex;
}
.flecha-menu {
 stroke: white;
}
.cont-img-pie{
text-align: center;
}
.contenedor-pie{
margin: auto;
 width: 360px;
 text-align: center;
}
.cont-face-pie {
   margin-bottom: 13px;
}
.datos-contacto {
text-align: left;
}
.pie-pagina {
 padding: 15px 0px;
}
.cont-face-pie {
 margin-bottom: 25px;
}
}
